<style>

  .body { display: flex; flex-direction: column; align-items: center;
  justify-content: center; padding: 2rem; } .message-header{ font-size: 40px;
  margin-bottom: 30px; } .foto-animal { width: 100%; max-width: 200px; height:
  200px; object-fit: cover; } p { margin-bottom: 20px; }

</style>

<div class='body'>
  <p class='message-header'> Olá <strong>{{name}}</strong>! Tudo bem?</p>

  <div class='foto-animal'>
    <img src={{animaFoto}} alt='Foto de um cachorro' />
  </div>

  <p>Gostariamos de informar que sua solicitação para adoção, foi confirmada.</p>
  <p>Agora você já pode vir buscar seu novo amigo.</p>
  <p>Traga seus documentos para confirmamos a sua idenditade. Estamos por aqui
    de 08:00 às 16:00</p>
  <br />
  <p>Atenciosamente, equipe <strong>Cão sem casa</strong></p>
</div>
