<style>

  .body { display: flex; flex-direction: column; align-items: center;
  justify-content: center; padding: 2rem; } label { font-size: 1rem;
  margin-bottom: 20px; } h3 { margin-bottom: 20px; } .foto-animal { width: 100%;
  max-width: 200px; height: 200px; } p { margin-bottom: 1rem; }

</style>

<div class='body'>
  <label> Olá <strong>{{name}}</strong>! Tudo bem?</label>

  <p>Recebemos sua solicitação para redefinir a senha, associada a este email.
    Click no link abaixo para redefinir a senha:</p>

  <p>{{token}}</p>
</div>
